<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    You are logged with email: {{ user_email }}<br><a href="{% url 'logout' %}">Logout</a>
    <br>
    <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
    You are not logged in.<br><a href="{% url 'login' %}">Login</a>
    <br>Or <br><a href="{% url 'registration' %}">Create an account</a>
    {% endif %}

</body>
</html>